<!-- Start Bradcaump area -->
<div class="ht__bradcaump__area bg-image--20">
  <div class="ht__bradcaump__wrap d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="bradcaump__inner text-center brad__white">
            <h2 class="bradcaump-title">{{ crumbObject.title }}</h2>
            <nav class="bradcaump-inner">
              <a class="breadcrumb-item" routerLink="{{ crumbObject.parentRoute}}">{{ crumbObject.parentTitle }}</a>
              <span class="brd-separetor"><i class="zmdi zmdi-long-arrow-right"></i></span>
              <span class="breadcrumb-item active">{{ crumbObject.title }}</span>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Bradcaump area -->
