.ht__bradcaump__wrap {
  height: 412px; }
.ht__bradcaump__wrap .bradcaump__inner .bradcaump-title {
  color: #444444;
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase; }
.ht__bradcaump__wrap .bradcaump__inner .bradcaump-inner {
  margin-top: 11px; }
.ht__bradcaump__wrap .bradcaump__inner .bradcaump-inner .breadcrumb-item {
  color: #444444;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
.ht__bradcaump__wrap .bradcaump__inner .bradcaump-inner .brd-separetor i {
  color: #444444;
  font-size: 17px;
  padding: 0 7px; }

.popupal__menu h4 {
  font-size: 29px;
  color: #444;
  font-family: "Open Sans", sans-serif;
  margin-top: 50px;
  text-transform: uppercase; }

.ht__bradcaump__wrap .bradcaump__inner.brad__white .bradcaump-inner .brd-separetor i {
  color: #fff; }

.ht__bradcaump__wrap .bradcaump__inner.brad__white .bradcaump-inner .breadcrumb-item {
  color: #fff; }

.ht__bradcaump__wrap .bradcaump__inner.brad__white .bradcaump-title {
  color: #fff; }
