<div class="cartbox-wrap">
  <div class="body-overlay" (click)="closeBox()"></div>
  <div class="cartbox text-right">
    <button class="cartbox-close" (click)="closeBox()"><i class="zmdi zmdi-close"></i></button>
    <div class="cartbox__inner text-left">
      <div class="cartbox__items">
        <!-- Cartbox Single Item -->
<!--        <pre>{{itemList}}</pre>-->
        <div class="cartbox__item" *ngFor="let item of itemList">
          <div class="cartbox__item__thumb">
            <a href="#">
              <img src="{{item.imageUrl}}" alt="small thumbnail">
            </a>
          </div>
          <div class="cartbox__item__content">
            <h5><a href="#" class="product-name">{{item.title}}</a></h5>
            <p>Qty: <span>01</span></p>
            <span class="price">${{item.price}}</span>
          </div>
          <button class="cartbox__item__remove" (click)="removeItem($event, item)">
            <i class="fa fa-trash"></i>
          </button>
        </div>
        <!-- Cartbox Single Item -->
<!--        <div class="cartbox__item">-->
<!--          <div class="cartbox__item__thumb">-->
<!--            <a href="product-details.html">-->
<!--              <img src="assets/images/blog/sm-img/2.jpg" alt="small thumbnail">-->
<!--            </a>-->
<!--          </div>-->
<!--          <div class="cartbox__item__content">-->
<!--            <h5><a href="product-details.html" class="product-name">Wheat Bread</a></h5>-->
<!--            <p>Qty: <span>01</span></p>-->
<!--            <span class="price">$25</span>-->
<!--          </div>-->
<!--          <button class="cartbox__item__remove">-->
<!--            <i class="fa fa-trash"></i>-->
<!--          </button>-->
<!--        </div>-->
<!--        &lt;!&ndash; Cartbox Single Item &ndash;&gt;-->
<!--        <div class="cartbox__item">-->
<!--          <div class="cartbox__item__thumb">-->
<!--            <a href="product-details.html">-->
<!--              <img src="assets/images/blog/sm-img/3.jpg" alt="small thumbnail">-->
<!--            </a>-->
<!--          </div>-->
<!--          <div class="cartbox__item__content">-->
<!--            <h5><a href="product-details.html" class="product-name">Mixed Fruits Pie</a></h5>-->
<!--            <p>Qty: <span>01</span></p>-->
<!--            <span class="price">$30</span>-->
<!--          </div>-->
<!--          <button class="cartbox__item__remove">-->
<!--            <i class="fa fa-trash"></i>-->
<!--          </button>-->
<!--        </div>-->
      </div>
      <div class="cartbox__total" *ngIf="itemList.length">
        <ul>
          <li><span class="cartbox__total__title">Subtotal</span><span class="price">$70</span></li>
          <li class="shipping-charge"><span class="cartbox__total__title">Shipping Charge</span><span class="price">$05</span></li>
          <li class="grandtotal">Total<span class="price">$75</span></li>
        </ul>
      </div>
      <div class="cartbox__buttons">
        <a class="food__btn" (click)="openCart()"><span>View cart</span></a>
        <a class="food__btn" (click)="openCheckout()"><span>Checkout</span></a>
      </div>
    </div>
  </div>
</div>
