<app-bread-crumb [crumbObject]="{title: 'services', parentRoute: '/', parentTitle: 'home'}"></app-bread-crumb>
<section class="food__service bg--white section-padding--lg">
  <div class="container service__container">
    <div class="row">
      <!-- Start Single Service -->
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="service--2">
          <div class="service__inner">
            <div class="service__content">
              <h2><a href="#">fast delivery</a></h2>
              <div class="ser__icon">
                <img src="assets/images/shape/service/1.png" alt="icon images">
              </div>
            </div>
            <div class="service__hover__action d-flex align-items-center">
              <div class="service__hover__inner">
                <h4><a href="#">fast delivery</a></h4>
                <p>
                  For us, it's not just about bringing you good food from your favourite restaurants.
                  It's about making a connection, which is why we sit down with the chefs, dreaming up menus that will arrive fresh and full of flavour. Try us!
                </p>
                <ul>
                  <li><a href="#">1.Low cost Shipping</a></li>
                  <li><a href="#">2.On time delivery</a></li>
                  <li><a href="#">3.Transport : Container Van / By cycle / Others</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Start Single Service -->
      <!-- Start Single Service -->
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="service--2">
          <div class="service__inner">
            <div class="service__content">
              <h2><a href="#">quality food</a></h2>
              <div class="ser__icon">
                <img src="assets/images/shape/service/3.png" alt="icon images">
              </div>
            </div>
            <div class="service__hover__action d-flex align-items-center">
              <div class="service__hover__inner">
                <h4><a href="#">quality food</a></h4>
                <p>
                  For us, it's not just about bringing you good food from your favourite restaurants.
                  It's about making a connection, which is why we sit down with the chefs, dreaming up menus that will arrive fresh and full of flavour. Try us!
                </p>
                <ul>
                  <li><a href="#">1.Low cost Shipping</a></li>
                  <li><a href="#">2.On time delivery</a></li>
                  <li><a href="#">3.Transport : Container Van / By cycle / Others</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Start Single Service -->
      <!-- Start Single Service -->
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="service--2">
          <div class="service__inner">
            <div class="service__content">
              <h2><a href="#">various menu</a></h2>
              <div class="ser__icon">
                <img src="assets/images/shape/service/4.png" alt="icon images">
              </div>
            </div>
            <div class="service__hover__action d-flex align-items-center">
              <div class="service__hover__inner">
                <h4><a href="#">various menu</a></h4>
                <p>
                  For us, it's not just about bringing you good food from your favourite restaurants.
                  It's about making a connection, which is why we sit down with the chefs, dreaming up menus that will arrive fresh and full of flavour. Try us!
                </p>
                <ul>
                  <li><a href="#">1.Low cost Shipping</a></li>
                  <li><a href="#">2.On time delivery</a></li>
                  <li><a href="#">3.Transport : Container Van / By cycle / Others</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Start Single Service -->
      <!-- Start Single Service -->
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="service--2">
          <div class="service__inner">
            <div class="service__content">
              <h2><a href="#">well service</a></h2>
              <div class="ser__icon">
                <img src="assets/images/shape/service/4.png" alt="icon images">
              </div>
            </div>
            <div class="service__hover__action d-flex align-items-center">
              <div class="service__hover__inner">
                <h4><a href="#">well service</a></h4>
                <p>
                  For us, it's not just about bringing you good food from your favourite restaurants.
                  It's about making a connection, which is why we sit down with the chefs, dreaming up menus that will arrive fresh and full of flavour. Try us!
                </p>
                <ul>
                  <li><a href="#">1.Low cost Shipping</a></li>
                  <li><a href="#">2.On time delivery</a></li>
                  <li><a href="#">3.Transport : Container Van / By cycle / Others</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Start Single Service -->
    </div>
  </div>
</section>
<!-- End Service Area -->
<!-- Start Testimonail Area -->
<section class="fd__testimonial__area section-padding--lg bg-image--5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide>
            <div class="testimonial">
              <div class="testimonial__thumb">
                <img src="assets/images/testimonial/clint/1.png" alt="testimonial images">
              </div>
              <div class="testimonial__details">
                <h4>Mily Cyrus</h4>
                <h6>Food Expert</h6>
                <p>
                  For us, it's not just about bringing you good food from your favourite restaurants.
                  It's about making a connection, which is why we sit down with the chefs, dreaming up menus that will arrive fresh and full of flavour. Try us!
                </p>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="testimonial">
              <div class="testimonial__thumb">
                <img src="assets/images/testimonial/clint-2/1.png" alt="testimonial images">
              </div>
              <div class="testimonial__details">
                <h4>Mily Cyrus</h4>
                <h6>Food Expert</h6>
                <p>
                  For us, it's not just about bringing you good food from your favourite restaurants.
                  It's about making a connection, which is why we sit down with the chefs, dreaming up menus that will arrive fresh and full of flavour. Try us!
                </p>
              </div>
            </div>
          </ng-template>
        </owl-carousel-o>
<!--        <div class="testimonial__activation&#45;&#45;1 text-center bg&#45;&#45;white owl-carousel owl-theme clearfix">-->
<!--          &lt;!&ndash; Start Single Testimonial &ndash;&gt;-->
<!--          <div class="testimonial">-->
<!--            <div class="testimonial__thumb">-->
<!--              <img src="assets/images/testimonial/clint/1.png" alt="testimonial images">-->
<!--            </div>-->
<!--            <div class="testimonial__details">-->
<!--              <h4>Mily Cyrus</h4>-->
<!--              <h6>Food Expert</h6>-->
<!--              <p>Lorem ipsum dolor sit amconsectetuadipisicing elit, kjjnin khk seeiusmod tempor incididunt ut labore et dolore maaliqua. Ut enim ad minim veniam,</p>-->
<!--            </div>-->
<!--          </div>-->
<!--          &lt;!&ndash; End Single Testimonial &ndash;&gt;-->
<!--          &lt;!&ndash; Start Single Testimonial &ndash;&gt;-->
<!--          <div class="testimonial">-->
<!--            <div class="testimonial__thumb">-->
<!--              <img src="assets/images/testimonial/clint/1.png" alt="testimonial images">-->
<!--            </div>-->
<!--            <div class="testimonial__details">-->
<!--              <h4>Mily Cyrus</h4>-->
<!--              <h6>Food Expert</h6>-->
<!--              <p>Lorem ipsum dolor sit amconsectetuadipisicing elit, kjjnin khk seeiusmod tempor incididunt ut labore et dolore maaliqua. Ut enim ad minim veniam,</p>-->
<!--            </div>-->
<!--          </div>-->
<!--          &lt;!&ndash; End Single Testimonial &ndash;&gt;-->
<!--        </div>-->
      </div>
    </div>
  </div>
</section>
<!-- End Testimonail Area -->
<!-- Start Our Brand Area -->
<div class="food__brand__area ptb--170 bg-image--22">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="brand__list d-flex flex-wrap flex-lg-nowrap justify-content-between">
          <li><a href="#"><img src="assets/images/brand/1.png" alt="brand images"></a></li>
          <li><a href="#"><img src="assets/images/brand/2.png" alt="brand images"></a></li>
          <li><a href="#"><img src="assets/images/brand/3.png" alt="brand images"></a></li>
          <li><a href="#"><img src="assets/images/brand/4.png" alt="brand images"></a></li>
          <li><a href="#"><img src="assets/images/brand/5.png" alt="brand images"></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
